<!DOCTYPE html>
<html lang="en">
<head>
  <title>The URL Cruncher</title>
</head>
<body style="font-family:sans-serif;padding:10px">
  <% include ./partials/_header %>
  <h3>Crunched URL: <%= shortURL %></h3>
  <h5>Update the long URL.</h5>
  <form method="POST" action="/urls/<%= shortURL %>">
    <input id="longURL" type="text" name="longURL" placeholder="<%= urlCollection[shortURL].longURL %>" style="width: 300px">
    <input type="submit" value="Update">
  </form>
  <br>
  <a href="/urls"><button>Your URLs</button></a>
  <a href="/urls/new"><button>Crunch Another URL</button></a>
  <h4>URL Stats</h4>
  <h5>Total clicks: <%= visits %></h5>
  <h5>Unique clicks: <%= unique %>
</body>
</html>