<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Link Cruncher</title>
</head>
<body>
  <% include ./partials/_header %>
  <h3>Your crunched URLs</h3>
  <table style="width:75%">
    <% for (let entry in urlCollection) { %>
      <tr>
        <td><%= "Crunched link: " + entry %></td>
        <td><a href="<%= urlCollection[entry] %>"> <%= urlCollection[entry].longURL %></a></td>
        <td><form method="GET" action="/urls/<%= entry %>"><input type="submit" value="Edit"></form></td>
        <td><form method="POST" action="/urls/<%= entry %>/delete"><input type="submit" value="Delete"></form></td>
      </tr>
    <% } %>
  </table>
  <a href="urls/new"><h2>Crunch a link.</h2></a>
</body>
</html>