<!DOCTYPE html>
<html lang="en">
<head>
  <title>The URL Cruncher</title>
</head>
<body style="font-family:sans-serif;padding:10px">
  <% include ./partials/_header %>
  <h3>Your crunched URLs</h3>
  <table style="width:75%">
    <% for (let entry in urlCollection) { %>
      <tr>
        <td><%= "Crunched link: " + entry %></td>
        <td><a href="<%= urlCollection[entry] %>"> <%= urlCollection[entry].longURL %></a></td>
        <td><form method="GET" action="/urls/<%= entry %>"><input type="submit" value="Edit"></form></td>
        <td><form method="POST" action="/urls/<%= entry %>?_method=DELETE"><input type="submit" value="Delete"></form></td>
      </tr>
    <% } %>
  </table>
  <br>
  <a href="urls/new"><button>Crunch a new URL</button></a>
</body>
</html>